body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background: #f7f7f7;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.login-box {

    width: 350px;

    background: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.15);

    text-align: center;
}


.login-box h2 {

    margin-bottom: 10px;

    color: #222;
}


.login-box p {

    color: #666;

    font-size: 14px;
}


.login-box input {

    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    margin: 8px 0;

    border: 1px solid #ddd;

    border-radius: 6px;

    font-size: 14px;

    outline: none;
}


.login-box input:focus {

    border-color: #0c831f;
}


/* PASSWORD BOX */

.password-box {

    position: relative;

    width: 100%;
}


.password-box input {

    padding-right: 45px;
}


.password-box span {

    position: absolute;

    right: 12px;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;

    font-size: 18px;
}


/* BUTTON */

.login-box button {

    width: 100%;

    padding: 12px;

    margin-top: 12px;

    border: none;

    border-radius: 6px;

    background: #0c831f;

    color: white;

    font-size: 16px;

    cursor: pointer;
}


.login-box button:hover {

    background: #096b19;
}


/* LINK */

.login-box a {

    color: #0c831f;

    text-decoration: none;

    font-weight: bold;
}


.login-box a:hover {

    text-decoration: underline;
}